body {
    background-image: url("background.png");
    display: flex;
    padding: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
}

body::before {
    background: rgba(211, 241, 218, 0.7); /* opacity layer */
  }
  

footer{
    margin-top: 20px;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    align-items: last baseline;
}


